@import './styles/variables.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  /* background-color: var(--color-bg-base); Moved to html in variables.css */
  color: var(--color-text-main);
  font-family: var(--font-family);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}